#home {
    -fx-background-image: url("./pictures/accueil_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

#practice_menu {
    -fx-background-image: url("./pictures/practice_menu_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

#practice {
    -fx-background-image: url("./pictures/practice_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.bar_button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 40;
}

#game {
    -fx-background-image: url("./pictures/game_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

#login {
    -fx-background-image: url("./pictures/login_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

#loginForm {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#buttonLoginForm {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 20;
}

#register {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}

#text {
    -fx-text-fill: white;
}
